<!DOCTYPE html>
<html lang="en" style="padding:  0; margin: 0;width: 100%; height: 100%">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->

    <title>Describe |

    </title>


</head>

<body class="fix-header fix-sidebar card-no-border" style="overflow: hidden;padding:  0; margin: 0;width: 100%; height: 100%">
    <iframe src="inner" style="width: 100%; height: 100%"></iframe>
</body>

</html>