node_modules
client
.npmrc
.git
.vscode
.sonarlint
webpack.config.js
tsconfig.json
yarn.lock
@methodus
server/*
client_old
.nyc_output
.scannerwork
coverage
.travis.yml
build.json
sonar-project.properties 
