.results-block{
    height: 100%;
    width: 100%;    
    border: 1px solid gray; 
    .editor-container {
        height: 100%;
    }  
}

.test-form{
    position: fixed;
    width: 40%;
    right: 5px;
    border-left: 1px solid gray;
    padding: 2px;
}




 