 

@font-face {
  font-family: 'icons';
  src: url('../assets/hub-bootstrap/fonts/MssIcons/icons.eot');
  src: url('../assets/hub-bootstrap/fonts/MssIcons/icons.eot') format('embedded-opentype'),
       url('../assets/hub-bootstrap/fonts/MssIcons/icons.woff2') format('woff2'),
       url('../assets/hub-bootstrap/fonts/MssIcons/icons.woff') format('woff'),
       url('../assets/hub-bootstrap/fonts/MssIcons/icons.ttf') format('truetype'),
       url('../assets/hub-bootstrap/fonts/MssIcons/icons.svg?') format('svg');
  font-weight: normal;
  font-style: normal;
}

.drop_down {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f101";
    }
}


.icon_16px_no_widgets {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f102";
    }
}


.icon_16px_restore {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f103";
    }
}


.icons_16px-menu {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f104";
    }
}


.icons_16px_addWidget {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f105";
    }
}


.icons_16px_add_view {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f106";
    }
}


.icons_16px_alert_msg {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f107";
    }
}


.icons_16px_arrowdown {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f108";
    }
}


.icons_16px_arrowleft {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f109";
    }
}


.icons_16px_arrowright {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f10a";
    }
}


.icons_16px_arrowup {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f10b";
    }
}


.icons_16px_bigx {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f10c";
    }
}


.icons_16px_calendar {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f10d";
    }
}


.icons_16px_calendar_schedule {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f10e";
    }
}


.icons_16px_checkboxoff {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f10f";
    }
}


.icons_16px_checkboxon {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f110";
    }
}


.icons_16px_drag {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f111";
    }
}


.icons_16px_dropdownarrow {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f112";
    }
}


.icons_16px_edit {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f113";
    }
}


.icons_16px_export-to-csv {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f114";
    }
}


.icons_16px_hide {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f115";
    }
}


.icons_16px_horizontalsplit {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f116";
    }
}


.icons_16px_i {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f117";
    }
}


.icons_16px_ic_info {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f118";
    }
}


.icons_16px_menu {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f119";
    }
}


.icons_16px_pin_off {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f11a";
    }
}


.icons_16px_pin_on {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f11b";
    }
}


.icons_16px_radiooff {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f11c";
    }
}


.icons_16px_radioon {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f11d";
    }
}


.icons_16px_refersh {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f11e";
    }
}


.icons_16px_search {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f11f";
    }
}


.icons_16px_settings {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f120";
    }
}


.icons_16px_share {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f121";
    }
}


.icons_16px_show {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f122";
    }
}


.icons_16px_showreport {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f123";
    }
}


.icons_16px_smallx {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f124";
    }
}


.icons_16px_time {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f125";
    }
}


.icons_16px_trash {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f126";
    }
}


.icons_16px_upload {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f127";
    }
}


.icons_16px_v {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f128";
    }
}


.icons_16px_verticalsplit {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f129";
    }
}


.icons_22px_ic_Exclamation {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f12a";
    }
}


.icons_22px_ic_admin {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f12b";
    }
}


.icons_22px_menu_documents {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f12c";
    }
}


.icons_22px_menu_help {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f12d";
    }
}


.icons_22px_menu_messages {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f12e";
    }
}


.icons_22px_menu_myservices {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f12f";
    }
}


.icons_22px_menu_reports {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f130";
    }
}


.icons_22px_menu_views {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f131";
    }
}


.icons_24px_ic_file_excel {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f132";
    }
}


.icons_24px_ic_file_pdf {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f133";
    }
}


.icons_24px_ic_file_word {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f134";
    }
}


.icons_35px_btn_facebook {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f135";
    }
}


.icons_35px_btn_linkedin {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f136";
    }
}


.icons_35px_btn_twitter {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f137";
    }
}


.icons_35px_btn_youtube {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f138";
    }
}


.icons_50px_empty_404 {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f139";
    }
}


.icons_50px_empty_widgets {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f13a";
    }
}


.icons_50px_ic_Exclamation {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f13b";
    }
}


.icons_50px_ic_no_data {
    &::before {
     font-family:"icons";
     display:inline-block;
     vertical-align:middle;
     line-height:1;
     font-weight:normal;
     font-style:normal;
     speak:none;
     text-decoration:inherit;
     text-transform:none;
     text-rendering:auto;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     content:"\f13c";
    }
}

