<div class="menu">

  <div class="menu-header">
    <ul class="menu-header-bar">
      <li class="">

      </li>

      <li class="att-logo-title">
        @Methodus/describe
      </li>
    </ul>

  </div>
  <div class="menu-container">
    <ul class="nav-bar menubars">

    </ul>
    <ul class="mainmenu">
      <li class="topItem">
        <a class="nav-link active" data-toggle="tab" routerLink="describe/local-services" routerLinkActive="active-top"
          role="tab">Services</a>
      </li>
      <li class="topItem">
        <a class="nav-link" data-toggle="tab" routerLink="describe/remote-services" routerLinkActive="active-top"
          role="tab">Remotes</a>
      </li>
    </ul>
  </div>
</div>
<app-loader name="main"></app-loader>