.results-block{
    height: 100%;
    overflow: auto;
    position: fixed;
    border: 1px solid gray;
    width: 40%;
    right: 5px;

   
    .editor-container {
        height: calc(100%);
    }
    

}




 